
table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 20px;
  border: 1px solid gray;
  width: 98%;
  font-size: 11px;
}
thead {
  background-color: rgb(153, 235, 235);
  height: 20px;
}
thead > tr > th {
  height: 50px;
}

tbody > tr > td {
  white-space: nowrap;
  border: 1px solid gray !important;
}

tbody > tr > td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tbody > tr:hover {
  background-color: rgb(187, 187, 187);
}

.sidebar {
  text-align: center;
  position: fixed;
  padding-top: 20px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  background-color: rgb(59, 59, 59);
  color: white;
}

.sidebar.expanded {
  left: 0;
}

.name {

  font-size: 80;
}