
table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid gray;
}
thead {
  background-color: rgb(153, 235, 235);
  height: 20px;
}
thead > th {
  height: 50px;
  width: 40px !important;
}

tbody > tr {
  padding-top: 20px !important;
  padding-bottom: 10px;
}

tbody > tr:hover {
  background-color: rgb(187, 187, 187);
}

td {
  border: none !important;
  border-spacing: none;
}
